name: A workflow for my Hello World file
on: [push ,workflow_dispatch]

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./action-a
        with:
          MY_NAME: "Mona"
          
  noti:
    name: MS team noti
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Notify dedicated teams channel
        uses: jdcargile/ms-teams-notification@v1.3
        with:
          github-token: ${{ github.token }}
          ms-teams-webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
          notification-summary: Your custom notification message 
          notification-color: 17a2b8
          timezone: Asia/Bangkok

  noti2:
    name: Send message to ms teams
    runs-on: ubuntu-latest
    steps:
      - name: Notify 2
        uses: dhollerbach/github-action-send-message-to-ms-teams@1.0.10
        with:
          webhook: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
          message: 'W00t it werked!'
          
#####key-vault#####          
  kv-lab:
    runs-on: ubuntu-latest
    steps:
    # checkout the repo
    - uses: actions/checkout@v2
    - uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: Azure/get-keyvault-secrets@v1
      with: 
        keyvault: "wanchai-kv-lab"
        #secrets: 'containerPassword, containerUsername'
        secrets: 'kv-secret-01'
      id: myGetSecretAction
    - run: |
        echo "hello: java"
        echo "hello: ${{ steps.myGetSecretAction.outputs.kv-secret-01 }}"
        echo "hello: test-lab"
